<!DOCTYPE html>

<html lang="pl-PL">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<script type="application/javascript" src="../../js/validationCommon.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Hotel "TIN2021"</title>
</head>

<body>
<div id="all" >

<div id="header" >
<H1 id="title">Hotel "TIN2021"</H1>
<img  src="../images/logo.png"  class="logo" alt="logo">
</div>


