<%- include('./fragments/header.ejs') %>
<div id="menu" >

<a href=""><div id="link" style="margin-left: 50px; background-color:#5c8ebe;">Strona Główna</div></a>
<a href="guests/"><div id="link1" >Gość</div></a>
<a href="rooms/"><div id="link2" >Pokój</div></a>
<a href="reservation/"><div id="link3" >Rezerwacja</div></a>

</div>
<div id="wrapper">
<h1>Strona główna</h1>
<hr>
<p>"TIN2021” jest sieć hoteli która potrzebuje aplikację dla rezerwacje gości hotelu. Chcemy pamiętać
informacje o gościach, pokojach i kto jaki pokój zarezerwował. 



</div>
<%- include('./fragments/footer.ejs') %>